.container-fluid {
  max-width: auto;
  height: 100vh;
}

.container {
  max-width: 98rem;
  width: 100%;
  margin: 0 auto;
}

.content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
