.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container:last-child {
  margin-bottom: 8rem;
}

.link,
.themeToggle {
  display: flex;
  border: 2px solid transparent;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--primary);
  border-radius: 0.48em;
  text-decoration: none;
  color: var(--text-default);
  transition: all 0.4s ease-in-out;
  backdrop-filter: blur(10px);
}

.link:hover,
.themeToggle:hover {
  background-color: var(--primary-light);
}

.link.active,
.themeToggle.active {
  background-color: #0a0f1aa3;
  color: var(--primary);
  border-color: var(--primary);
}
