.settingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.heading::before {
  content: none;
}

.heading {
  z-index: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 32rem;
}
