.heading {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 2rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading::before {
  content: '';
  position: absolute;
  inset: 0;
  filter: blur(1.2rem);
  backdrop-filter: blur(1.2rem);
  border-radius: 0 0 100% 100%;
  background-image: radial-gradient(
    circle at 50% -200%,
    var(--gray-900) 60%,
    transparent 100%
  );
  pointer-events: none;
  z-index: -1;
}
