.footer {
  display: flex;
  width: 100%;
  position: sticky;
  padding: 1.2rem 0.5rem;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  backdrop-filter: blur(0.8rem);
}

.footer p {
  color: var(--text-default);
  font-size: 1.2rem;
}

.link {
  text-decoration: none;
  color: var(--link-color);
  transition: all 0.2s ease-in-out;
  font-size: 1.6rem;
  font-weight: 500;
}

.link:hover {
  color: var(--link-hover);
  text-shadow: 0 0 0.5rem var(--link-hover);
}
