.footer {
  display: flex;
  width: 100%;
  position: sticky;
  padding: 1.2rem 0.5rem;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  backdrop-filter: blur(0.8rem);
}

.footer a,
p {
  text-decoration: none;
  color: var(--text-default);
  transition: all 0.2s ease-in-out;
  font-size: 1.4rem;
}
